@font-face {
  font-family: 'Poiret One';
  src: url('./Poiret-One.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('./Lato.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

body {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
}

.container {
  display: grid;
  grid-template-areas: 
    "header"
    "content"
    "footer";
  height: 100%;
  background-image: url('./sarah-kilian-7BQzWIQOv9E-unsplash.jpg');
  background-size: 1000px;
  background-repeat: repeat;
}

#header {
  grid-area: header;
}

#content {
  grid-area: content;
}

#footer {
  grid-area: footer;
}

.header {
  background-color: white;
  color: rgb(5, 15, 46);
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-family: 'Poiret One', 'Courier New', Courier, monospace;
}

.footer {
  background-color: white;
  color: rgb(5, 15, 46);
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: 'Poiret One', 'Courier New', Courier, monospace;
  font-weight: bold;
}

.footer>a {
  text-decoration: underline 2px solid transparent;
  transition: text-decoration 1s ease;
  color: rgb(5, 15, 46);
  font-family: 'Poiret One', 'Courier New', Courier, monospace;
}

.footer>a:hover {
  text-decoration: underline 2px;
}

.content {
  place-self: center;
  display: grid;
  gap: 60px;
  width:  min(80vw, 900px);
  padding: 100px 0px;
  place-items: center;
  flex: 1;
  margin: 100px 0px;
  background-color: rgb(255, 255, 255);
  border-radius: 1px;
}

.content>div {
  border: 2px solid rgb(5, 15, 46);
  height: fit-content;
  width: min(400px, 80%);
  padding: 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(5, 15, 46);
  border-radius: 0px 20px;
  padding: 30px 50px;
}

.content-text {
  font-size: 18px;
}


.content-container {
  display: grid;
  place-items: center;
  gap: 5px;
  grid-template-rows: 30px auto;
  grid-auto-rows: auto;
  padding: 0px 20px;
}

.content-container>.content-title {
  font-weight: bold;
  font-size: 22px;
  width: 100%;
  display: table;
  white-space: nowrap;
}

.content-container>.content-title:before, 
.content-container>.content-title:after {
  border-top: 1px solid rgb(5, 15, 46);
  content: '';
  display: table-cell;
  position: relative;
  top: 0.5em;
  width: 45%;
}
.content-container>.content-title:before {    
  right: 3%; 
}

.content-container>.content-title:after { 
  left: 3%; 
}

